* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 7%;
}

/* TITLE */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 4rem;
}

.title > h4 {
    font-weight: bolder;
}

.title > span {
    font-weight: lighter;
    color: slategray;
}
/* TITLE */

/* CREATE LIST */
.add-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
}

.add-list > span {
    color: slategray;
    font-size: 12px;
    font-weight: bold;
}

.plus-icon {
    color: slategray;
    border: 1px solid slategray;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.plus-icon:hover {
    transform: scale(1.2);
}
/* CREATE LIST */

/* LISTS */
.lists {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
    gap: 40px;
}

.list {
    /* background-color: #23395d; */
    width: 25%;
    height: 95%;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 6px  slategray;
    transition: all .2s ease-in-out;
}

.list:hover {
    transform: scale(1.04);
}

.list-name {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid slategray;
}
/* LISTS */

/* TASKS */
.tasks {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 53px 0px;
    gap: 30px;
    font-size: 20px;
}

.task {
    display: flex;
    gap: 14px;
    width: 65%;
}

.task > label {
    width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.check-icon {
    border: 1px solid slategray;
    color: rgb(77, 91, 105);
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
/* TASKS */
