* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 7%;
}

/* TITLE */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 4rem;
}

.title > h4 {
    font-weight: bolder;
}

.title > span {
    font-weight: lighter;
    color: slategray;
}
/* TITLE */

/* CREATE LIST */
.add-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-list > span {
    color: slategray;
    font-size: 12px;
    font-weight: bold;
}

.plus-icon {
    color: white;
    border: 1px solid #23395d;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #23395d;
}
.plus-icon:hover {
    transform: scale(1.2);
}
/* CREATE LIST */

/* LISTS */
.lists {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
    gap: 40px;
}

.list {
    width: 25%;
    height: 95%;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 6px  slategray;
    transition: all .2s ease-in-out;
}

.list:hover {
    transform: scale(1.04);
}

.list-name {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid slategray;
}
/* LISTS */

/* TASKS */
.tasks {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 53px 0px;
    gap: 30px;
    font-size: 20px;
}

.task {
    display: flex;
    gap: 14px;
    width: 65%;
}

.task > label {
    width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.check-icon {
    border: 1px solid slategray;
    color: rgb(77, 91, 105);
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
/* TASKS */

/* CREATE LIST */
.create-list-container {
    position: fixed;
    height: 100%;
    width: 100%;
    min-height: max-content;
    top: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-list {
    height: 70%;
    width: 23%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* BUBBLES */
.create-list-bubbles {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-1, .bubble-2 {
    border: 0.001cm solid black;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0px 20px;
    font-size: small;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.bubble-1 {
    background-color: #23395d;
    border-color: #23395d;
    color: white;
}
/* BUBBLES */

/* INPUT SECTION */
.create-list-input-section {
    height: 60%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 8%;
}

.create-list-title {
    font-weight: normal;
    color: slategray;
}

.create-list-input-section > input {
    width: 70%;
    height: 32px;
    border: 2px solid #23395d;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 14px;
}
/* INPUT SECTION */

/* CUSTOMIZE SECTION */
.create-list-customize-section {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.create-list-colors {
    display: flex;
    align-items: center;
    width: 50%;
    display: flex;
    gap: 4%;
    font-size: large;
}

.create-list-colors > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 33px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.create-list-colors > input::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid black;
}
.create-list-colors > input::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid black;
}
/* CUSTOMIZE SECTION */

/* CUSTOMIZATION TEMPLATE*/
.list-template {
    width: 37%;
    height: 100%;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 6px  slategray;
    transition: all .2s ease-in-out;
}

.list-template:hover {
    transform: scale(1.05);
}

.template-list-name {
    font-size: 8px;
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid slategray;
}

.template-tasks {
    font-size: 12px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 13px 0px;
    gap: 10px;
}

.template-task {
    display: flex;
    gap: 8px;
    width: 65%;
}

.template-task > label {
    width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.template-check-icon {
    border: 0.5px solid slategray;
    color: rgb(77, 91, 105);
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
/* CUSTOMIZATION TEMPLATE*/

/* BUTTONS SECTION */
.create-list-btn-section {
    height: 20%;
    text-align: center;
    box-sizing: border-box;
    padding: 23px 0px;
    justify-content: center;
    align-items: center;
    gap: 7%;
}


.back-btn, .next-btn {
    height: 50%;
    width: 24%;
    cursor: pointer;
    border: 1px solid #23395d;
    color: white;
    background-color: #23395d;
    border-radius: 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 20px;
    transition: all .2s ease-in-out;
}

.back-btn:hover, .next-btn:hover {
    transform: scale(1.1);
}
/* BUTTONS SECTION */

/* CREATE LIST */